body{
    background-image: url(../img/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.topnav{
    float: left;
    width: 100%;
    height: 60px;
    background-color: #0071bc;
}

.top-nav{
    height: 60px;
    /* border: 1px solid red; */
}

.top-nav span:nth-child(1) a:nth-child(1){
    float: left;
    margin-top: 10px;
    margin-right: 109px;
    height: 42px;
    border: none;
    /* vertical-align: middle; */
}

.top-nav span:nth-child(1) a{
    float: left;
    margin-top: 18px;
    margin-right: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    color: white;
}

.top-nav span:nth-child(1) a i{
    float: left;
    width: 23px;
    height: 21px;
    margin:3px 2px 0px 10px;
}

.top-nav span:nth-child(1) a h2{
    float: left;
    font-weight: normal;
    margin-right: 10px;
}

.top-nav span:nth-child(1) a:nth-child(2){
    background-color: #ebf1fb;
    color: royalblue;
    border-radius: 12px;
}

.top-nav span:nth-child(1) a:nth-child(2) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -25px -32px;
}

.top-nav span:nth-child(1) a:nth-child(4) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -55px -1px;
}

.top-nav span:nth-child(1) a:nth-child(6) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -81px -1px;
}

.top-nav span:nth-child(1) a:nth-child(8) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -106px -1px;
}

.top-nav span:nth-child(1) a:nth-child(10) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -133px -1px;
}

.top-nav span:nth-child(1) a:nth-child(12) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -158px -1px;
}

.top-nav span:nth-child(1) a:nth-child(14) i{
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -1px -32px;
}

.top-nav span:nth-child(1) b{
    float: left;
    margin-top: 22px;
    margin-right: 2px;
    font-size: 17px;
    color: white;
}

.top-nav span:nth-child(2) a{
    float: right;
    height: 74px;
    width: 122px;
    margin-top: 0px;
    font-size: 17px;
    text-align: center;
    line-height: 60px;
    color: white;
    background-image: url(../img-jlt/bg4.png);
    background-repeat: no-repeat;
    background-position: 0px -530px;
}


/* 背景 */
/* .background-a a{
    width: 100%;
    height: 100%;
}

.background{
    width: 100%;
    height: 877px;
    background-image: url(../img/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */


/* 搜索栏 */
.search-nav{
    float: left;
    /* border: 1px solid red; */
    width: 100%;
    height: 110px;
}

.search-nav-left{
    float: left;
    /* border: 1px solid red; */
    height: 110px;
}

.search-nav-left a{
    float: left;
    /* border: 1px solid blue; */
    width: 55px;
    height: 80px;
    text-align: center;
    margin-top: 15px;
    margin-right: 60px;
}

.search-nav-left a i{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url(../img-jlt/bg4.png);
    background-repeat: no-repeat;
}

.search-nav-left a:nth-child(1) i{
    background-position: 2px -649px;
}

.search-nav-left a:hover:nth-child(1) i{
    background-position: 2px -770px;
}

.search-nav-left a:nth-child(2) i{
    background-position: -58px -649px;
}

.search-nav-left a:hover:nth-child(2) i{
    background-position: -58px -770px;
}

.search-nav-left a:nth-child(3) i{
    background-position: -118px -649px;
}

.search-nav-left a:hover:nth-child(3) i{
    background-position: -118px -770px;
}

.search-nav-left a:nth-child(4) i{
    background-position: -178px -649px;
}

.search-nav-left a:hover:nth-child(4) i{
    background-position: -178px -770px;
}

.search-nav-left a:nth-child(5) i{
    background-position: -238px -649px;
}

.search-nav-left a:hover:nth-child(5) i{
    background-position: -238px -770px;
}

.search-nav-left a:nth-child(6) i{
    background-position: 2px -708px;
}

.search-nav-left a:hover:nth-child(6) i{
    background-position: 2px -929px;
}

.search-nav-left a:nth-child(7) i{
    background-position: -58px -708px;
}

.search-nav-left a:hover:nth-child(7) i{
    background-position: -58px -929px;
}

.search-nav-left a b{
    margin-top: 10px;
    font-size: 12px;
    color: #333333;
    /* border: 1px solid blue; */
}

.search-nav-left a:hover b{
    color: #feb0b0;
}

.search-nav-right{
    float: right;
    /* border: 1px solid red; */
    height: 110px;
}

.search-nav-right span{
    display: block;
    width: 355px;
    height: 45px;
    border: 2px solid #0071bc;
    border-radius: 11px;
    margin-top: 15px;
}

.search-nav-right span i{
    float: left;
    width: 50px;
    height: 100%;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 18px 14px;
}

.search-nav-right span input{
    float: left;
    width: 222px;
    height: 20px;
    color: #999999;
    border: white;
    margin-top: calc((41px / 2) - (20px / 2));
}

.search-nav-right span b{
    float: left;
    width: 83px;
    height: 100%;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: #0071bc;
    border-radius: 0px 8px 8px 0px ;
}

.search-nav-right img{
    width: 355px;
    margin-top: 5px;
}


/* 轮播图 */
.rotation-img{
    width: 100%;
    /* border: 1px solid red; */
}

.rotation-img a{
    position: relative;
}

.rotation-img a img{
    width: 100%;
    margin: 20px 0px;
}


.rotation-img a i{
    position: absolute;
    top: -106px;
    background-image: url("../img-jlt/bg4.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.rotation-img a i:nth-child(2){
    background-position: 0px -870px;
    left: 0px;
}

.rotation-img i:hover:nth-child(2){
    background-position: -120px -870px;
}

.rotation-img i:nth-child(3){
    background-position: -60px -870px;
    right: -4px;
}

.rotation-img i:hover:nth-child(3){
    background-position: -179px -870px;
}


/* 导航栏 */
.game-nav{
    width: 100%;
    height: 55px;
    /* border: 1px solid red; */
    background-color: #f7f7f7;
    margin-top: 6px;
}

.game-nav a{
    float: left;
    height: 100%;
    font-size: 18px;
    color: #000000;
    margin-right: 10px;
}

.game-nav a:nth-last-child(1){
    background-color: #fe6161;
    margin-right: 0px;
    margin-left: 2px;
}

.game-nav a i{
    float: left;
    height: 25px;
    width: 23px;
    margin-top: 15px;
    margin: 15px 5px 0px 18px;
    background-image: url(../img-jlt/bg7.png);
    background-repeat: no-repeat;
}

.game-nav a b{
    float: left;
    height: 100%;
    padding-right: 18px;
    line-height: 55px;
    font-weight: normal;
}

.game-nav a:nth-child(8) b{
    color: white;
}

.game-nav a:nth-child(1) b{
    color: #438bc8;   
}


.game-nav a:nth-child(1) i{
    background-position: -0px -24px;
}

.game-nav a:nth-child(2) i{
    background-position: -25px 2px;
}

.game-nav a:nth-child(3) i{
    background-position: -50px 1px;
}

.game-nav a:nth-child(4) i{
    background-position: -75px 1px;
}

.game-nav a:nth-child(5) i{
    background-position: -100px 1px;
}

.game-nav a:nth-child(6) i{
    background-position: -125px 1px;
}

.game-nav a:nth-child(7) i{
    background-position: -150px 1px;
}

.game-nav a:nth-child(8) i{
    background-position: -0px -50px;
}


/* 首行游戏链表 */
.first_game_nav{
    height: 260px;
    width: 100%;
}

.first_game_nav-1{
    height: 120px;
    width: 100%;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.first_game_nav-1 a{
    float: left;
    height: 100%;
    width: 80px;
    text-align: center;
    margin-right: 46px;
}

.first_game_nav-1 a:nth-last-child(1){
    float: right;
    margin-right: 0px;
}

.first_game_nav-1 a img{
    width: 80px;
    height: 80px;
}

.first_game_nav-1 b{
    display: inline-block;
    font-size: 15px;
    margin-top: 16px;
    font-weight: normal;
}

.first_game_nav-1 a:hover b{
    color: #fe6161;
    text-decoration: underline;
}

.first_game_nav-2{
    width: 100%;
    height: 110px;
    font-size: 14px;
    border-bottom: 5px solid #e8e8e8;
}

.first_game_nav-2-nav1{
    float: left;
    height: 14px;
    /* border: 1px solid red; */
    margin-top: 22px;
}

.first_game_nav-2-nav1 small,
.first_game_nav-2-nav2 small{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 5px -70px;
    margin: 0px 6px;
}

.first_game_nav-2-nav1 strong,
.first_game_nav-2-nav2 strong{
    font-size: 15px;
}

.first_game_nav-2-nav1 a i{
    display: inline-block;
    margin-right: 10px;
    color: #fe6161;
}

.first_game_nav-2-nav1 a:nth-last-child(2) i{
    color: black;
}

.first_game_nav-2-nav1 a:hover i,
.first_game_nav-2-nav2 a:hover i{
    color: #fe6161;
    text-decoration: underline;
}

.first_game_nav-2-nav2 a:nth-child(-n+2) i,
.first_game_nav-2-nav2 a:nth-child(5) i,
.first_game_nav-2-nav2 a:nth-child(10) i{
    color: #fe6161;
}

.first_game_nav-2-nav1 a:nth-last-child(1) b{
    margin-right: 0px;
}

.first_game_nav-2-nav1 a b{
    display: inline-block;
    margin-right: 7px;
    color: #cccccc;
    font-size: 15px;
    font-size: 15px;
    font-weight: normal;
}

.first_game_nav-2-nav2{
    float: left;
    height: 14px;
    /* border: 1px solid red; */
    margin-top: 27px;
}

.first_game_nav-2-nav2 a i{
    display: inline-block;
    margin-right: 10px;
}

.first_game_nav-2-nav2 a:nth-last-child(1) i{
    margin-right: 0px;
}

.first_game_nav-2-nav2 a b{
    display: inline-block;
    margin-right: 7px;
    color: #cccccc;
    font-size: 15px;
    font-weight: normal;
}


/* 主板-顶部 */
.main_top{
    width: 100%;
    height: 555px;
}

.main_top-left{
    float: left;
    width: 400px;
    height: 100%;
}  
  
.main_top-left span:nth-child(1){
    float: left;
}

.main_top-left span:nth-child(1) a:nth-child(1){
    float: left;
    width: 100%;
}

.main_top-left-span1-img{
    width: 100%;
}

.main_top-left span:nth-child(1) a:nth-child(2){
    float: left;
    margin-top: 15px;
    width: 100%;
}

.main_top-left span:nth-child(1) a:nth-child(2) i{
    float: left;
    font-size: 17px;
    color: black;
}

.main_top-left-ul{
    float: right;
    margin-top: 4px;
}

.main_top-left-ul li{
    display: inline-block;
    width: 16px;
    height: 10px;
    margin: 0px 6px;
    background-color: #cccccc;
}

.main_top-left-ul li:nth-last-child(1){
    margin-right: 0px;
}

.main_top-left-ul li:hover{
    background-color: #029de8;  
}

.main_top-left span:nth-child(2){
    float: left;
    width: 100%;
    height: 55px;
    margin-top: 15px;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}

.main_top-left span:nth-child(2) a{
    display: inline-block;
    height: 100%;
    font-size: 16px;
    color: black;
    padding: 0px 15px;
    line-height: 55px;
}

.main_top-left span:nth-child(2) a:hover{
    color: #0071bc;
    border-bottom: 2px solid #0071bc;
}

.main_top-left-span{
    float: left;
    width: 100%;
    height: 205px;
}

.main_top-left-span div{
   float: left;
   width: 188px;
   height: 85px;
   border: 1px solid #999999;
   margin-top: 18px;
   background-color: #f7f7f7;
}

.main_top-left-span .main_top-left-span-div2,
.main_top-left-span .main_top-left-span-div4{
    float: right;
}

.main_top-left-span div span{
    float: left;
    width: 75px;
    height: 100%;
}

.main_top-left-span div span img{
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-left: 8px;
}

.main_top-left-span div small{
    float: right;
    width: 103px;
    height: 100%;
    text-align: left;
}

.main_top-left-span div small a{
    display: inline-block;
    font-size: 14px;
    color: black;
    margin: 12px 0px 7px 0px;
}

.main_top-left-span div small a:hover{
    color: #fd7d7d;
    text-decoration: underline;
}

.main_top-left-span div small i{
    display: inline-block;
    font-size: 12px;
    color: #666666;
    margin-top: 7px;
}

/* main_top-mild */
.main_top-mild{
    float: left;
    width: 450px;
    height: 100%;
    margin-left: 30px;
}

.main_top-mild-span1{
    float: left;
    width: 100%;
    height: 45px;
    font-size: 0px;
}

.main_top-mild-span1 a{
    display: inline-block;
    height: 100%;
    width: 150px;
    background-color: #438bc8;
}

.main_top-mild-span1 a:hover{
    background-color: white;  
}

.main_top-mild-span1 a b{
    float: left;
    font-weight: normal;
    font-size: 20px;
    height: 100%;
    line-height: 45px;
    color: white;
}

.main_top-mild-span1 a:hover b{
    color: #438bc8;
}

.main_top-mild-span1 a i{
    float: left;
    height: 100%;
    width: 20px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    margin: 0px 5px 0px 20px ;
}

.main_top-mild-span1 a:nth-child(1) i{
     background-position: -22px -61px;
}

.main_top-mild-span1 a:hover:nth-child(1) i{
    background-position: -97px -61px;
}


.main_top-mild-span1 a:nth-child(2) i{
    background-position: -45px -61px;
    margin-right: 8px;
}

.main_top-mild-span1 a:hover:nth-child(2) i{
    background-position: -120px -61px;
}


.main_top-mild-span1 a:nth-child(3) i{
    background-position: -71px -62px;
}

.main_top-mild-span1 a:hover:nth-child(3) i{
    background-position: -145px -61px;
}


.main_top-mild-span2{
    float: left;
    width: 100%;
    height: 180px;
    border-bottom: 2px solid #cccccc;
}

.main_top-mild-span2 small{
    float: left;
    width: 100%;
    text-align: center;
}

.main_top-mild-span2 small i{
    display: inline-block;
    margin: 0px 15px;
    color: #cccccc;
    font-weight: bold;
}

.main_top-mild-span2 small:nth-child(1) a,
.main_top-mild-span2 small:nth-child(5) a{
    display: inline-block;
    font-size: 20px;
    color: #fe6161;
    margin-top: 24px;
}

.main_top-mild-span2 small:nth-child(3) a,
.main_top-mild-span2 small:nth-child(7) a{
    display: inline-block;
    font-size: 13px;
    color: #cccccc;
    margin-top: 20px;
}

.main_top-mild-span2 small:nth-child(3) a:hover,
.main_top-mild-span2 small:nth-child(7) a:hover{
    color: #fe6161;
   text-decoration: underline;
}

.main_top-mild-span3{
    float: left;
    width: 100%;
    height: 330px;
}

.main_top-mild-span3 ul{
    width: 100%;
    height: 100%;
    line-height: 33px;
    font-size: 14px;
    color: #cccccc;
}

.main_top-mild-span3 li{
    float: left;
    width: 100%;
}

.main_top-mild-span3 li a:nth-child(1){
   float: left;
    color: #cccccc;
}

.main_top-mild-span3 li b{
    float: left;
    margin-right: 13px;
}

.main_top-mild-span3 li a:nth-child(3){
    float: left;
    color: black;
}

.main_top-mild-span3 li a:hover{
    color: #fe6161;
    text-decoration: underline;
}

.main_top-mild-span3 li i{
    float: right;
}

/* main_top-right */
.main_top-right{
    float: left;
    width: 303px;
    height: 100%;
    margin-left: 30px;
}

.main_top-right span:nth-child(1){
    float: left;
    width: 100%;
    height: 38px;
    border-bottom: 2px solid #cccccc;
}

.main_top-right span:nth-child(1) small{
    float: left;
    font-size: 20px;
    margin-top: 5px;
    color: rgb(29, 26, 26);
}

.main_top-right span:nth-child(1) a{
    float: right;
    width: 70px;
    font-size: 14px;
    color: #999999;
    margin-top: 15px;
}

.main_top-right span:nth-child(1) a i{
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -104px;
}

.main_top-right span:nth-child(1) a:hover i{
    background-position: -21px -104px;
}

.main_top-right span:nth-child(1) b{
    float: right;
}

.main_top-right span:nth-child(1) a:hover b{
    color: #438bc8;
}


.main_top-right-span small{
    float: left;
    width: 80px;
    margin-right: 30px;
    text-align: center;
}

.main_top-right-span small:nth-child(3n){
    margin-right: 0px;
}

.main_top-right-span small img{
    width: 80px;
}

.main_top-right-span small a:nth-child(1){
    display: inline-block;
    margin-top: 19px;
    font-size: 14px;
    color: #393939;
}

.main_top-right-span small a:nth-child(2){
    display: inline-block;
    margin-top: 13px;
}

.main_top-right-span small a:hover:nth-child(2){
    color: #fe6161;
    text-decoration: underline;
}

.main_top-right-span small a:nth-child(4){
    display: inline-block;
    margin-top: 10px;
    height: 30px;
    border: 1px solid #438bc8;
    border-radius: 8px;
    line-height: 30px;
}

.main_top-right-span small a:hover:nth-child(4){
    background-color: #438bc8;
}

.main_top-right-span small a:nth-child(4) b{
    float: left;
    color: #438bc8;
    font-size: 14px;
}

.main_top-right-span small a:hover:nth-child(4) b{
    color: white;
}

.main_top-right-span small a:nth-child(4) i{
    float: right;
    width: 16px;
    height: 15px;
    margin: 8px 2px 0px 2px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -44px -104px;
}

.main_top-right-span small a:hover:nth-child(4) i{
    background-position: -65px -104px;
}

/* 主板-最新资讯 */
.main_information{
    width: 100%;
    height: 1210px;
}

/* 主板-最新资讯-左边 */
.main_information-left{
    float: left;
    width: 870px;
}

.main_information-left .main_information-left-div0{
    float: left;
    width: 100%;
    height: 45px;
    border: none;
}

.main_information-left-div0 span:nth-child(1){
    float: left;
    font-size: 18px;
    color: black;
    font-weight: normal;
}

.main_information-left-div0 span:nth-child(1) i{
    float: left;
    width: 25px;
    height: 27px;
    margin-top: 5px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -130px;
}

.main_information-left-div0 span:nth-child(1) h2{
    float: left;
    margin-top: 8px;
    margin-left: 5px;
    font-weight: normal;
}

.main_information-left-div0 span:nth-child(2){
    float: right;
    width: 750px;
    height: 30px;
    border-bottom: 1px solid #cccccc;
    text-align: right;
}

.main_information-left-div0 span:nth-child(2) a{
    display: inline-block;
    width: 60px;
    height: 45px;
    color: #999999;
    margin-right: 50px;
    text-align: center;
}

.main_information-left-div0 span:nth-child(2) b{
    font-weight: normal;
    font-size: 14px;
}

.main_information-left-div0 span:nth-child(2) a:hover{
    color: #0c77be;
}

.main_information-left-div0 span:nth-child(2) i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -165px;
}

.main_information-left-div0 span:nth-child(2) a:hover i{
    background-position: -25px -165px;
}
/*  */
.main_information-left div{
    float: left;
    margin-top: 17px;
    width: 100%;
    height: 132px;
    border: 1px solid #999999;
}

.main_information-left-div-span1{
    float: left;
    width: 200px;
    height: 100%;
}

.main_information-left-div-span1 a img{
    width: 200px;
}

.main_information-left-div-span2 a{
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
}

.main_information-left-div-span2 a:hover{
    color: #f51f1f;
    text-decoration: underline;
}

.main_information-left-div-span2 b{
    display: inline-block;
    font-size: 12px;
    margin-top: 12px;
    color: #999999;
    font-weight: normal;
}

.main_information-left-div-span2{
    float: left;
    width: 450px;
    height: 100%;
    margin-left: 20px;
    text-align: left;
}

.main_information-left-div-span3{
    float: left;
    width: 197px;
    height: 100%;
    background-color: #f7f7f7;
    border-left:1px solid #bdb0b0;
}

.main_information-left-div-span3 small:nth-child(1){
    display: inline-block;
     width: 100%;
     height: 70px;
     margin-top: 8px;

}

.main_information-left-div-span3 small:nth-child(1) strong:nth-child(1){
    float: left;
    width: 68px;
    height: 68px;
    margin-left: 17px;
}

.main_information-left-div-span3 small:nth-child(1) a img{
    width: 65px;
    margin-top: 5px;
}

.main_information-left-div-span3-strong2{
    float: left;
    width: 90px;
    height: 68px;
    margin-left: 5px;
}

.main_information-left-div-span3-strong2 a{
    display: inline-block;
    color: rgb(80, 78, 78);
    font-size: 15px;
    margin-top: 5px;
}

.main_information-left-div-span3-strong2 a:hover{
    text-decoration: underline;
    color: #fe6161;
}

.main_information-left-div-span3-strong2 b{
    display: inline-block;
    color: #999999;
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
}

.main_information-left-div-span3 small:nth-child(2) a{
    display: inline-block;
    width: 160px;
    height: 30px;
    margin: 0px 18px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid   #fb9d9d;
    border-radius: 8px;
    margin-top: 5px;
}

.main_information-left-div-span3 small:nth-child(2):hover a{
    background-color: #fe6161;
}

.main_information-left-div-span3 small:nth-child(2) a h3{
    float: left;
    margin-left: 30px;
}

.main_information-left-div-span3 small:nth-child(2) a:hover h3{
    color: white;

}

.main_information-left-div-span3 small:nth-child(2) a i{
    float: right;
    width: 17px;
    height: 17px;
    margin: 6px 32px 0px 0px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -54px -165px;
}

.main_information-left-div-span3 small:nth-child(2) a:hover i{
    background-position: -75px -165px;
}

.main_information-left-div-span3 small:nth-child(2) h3{
    font-weight: normal;
    color: #fe6161;
    font-size: 18px;
}

/* 主板-最新资讯-右边 */
.main_information-right{
    float: right;
    width: 312px;   
    height: 800px;
}

.main_information-right small{
    float: left;
    width: 80px;
    height: 132px;
    margin-top: 20px;
    margin-right: 30px;
    text-align: center;
}

.main_information-right small:nth-child(3n){
    margin-right: 0px;
}

.main_information-right .main_information-right-small1,
.main_information-right .main_information-right-small1{
    float: left;
    width: 300px;
    height: 45px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.main_information-right-small1 a{
    float: left;
    width: 100px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}

.main_information-right-small1 a:hover{
    color: #029de8;
    border-bottom: 2px solid  #0775be;
}

.main_information-right small img{
    width: 80px;
    height: 80px;
}

.main_information-right-span2 small a:nth-child(1),
.main_information-right-span1 small a:nth-child(1){
    display: inline-block;
    margin-bottom: 13px;
}

.main_information-right-span2 small a:nth-child(2),
.main_information-right-span1 small a:nth-child(2){
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #393939;
}
.main_information-right-span2 small a:nth-child(2):hover,
.main_information-right-span1 small a:nth-child(2):hover{
    text-decoration: underline;
    color: #fe6161;
}

.main_information-right-span2 small a:nth-child(4) b,
.main_information-right-span1 small a:nth-child(4) b{
    display: inline-block;
    font-size: 12px;
    color:  #999999;
    font-weight: normal;
}

.main_information-right-span2 small{
    height: 153px;
}

.main_information-right-span2 small a:nth-child(4){
    display: inline-block;
    margin-bottom: 5px;
    color: #999999;
}

.main_information-right-span2 small a:nth-last-child(1){
    color: #999999;
}


/* 主板-最新资讯-底部 */
.main_information-bottom{
    float: left;
    width: 870px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid #0071bc;
    text-align: center;
    border-radius: 8px;
}

.main_information-bottom:hover{
    background-color: #029de8;
}

.main_information-bottom a{
    display: inline-block;
    width: 170px;
    height: 100%;
    color: #0071bc;
    font-size: 17px;
    line-height: 52px;
}

.main_information-bottom b{
    font-weight: normal;
}

.main_information-bottom:hover b{
    color: white;
}

.main_information-bottom i{
    display: inline-block;
    vertical-align: middle;
    width:  18px;
    height: 18px;
    margin-left: 15px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -105px -165px;
}

.main_information-bottom:hover i{
    background-position: -125px -165px;
}


/* 主板-视频&评测 */
.main_video{
    width: 100%;
    height: 405px;
}

/* .main_video-top */
.main_video-top{
    float: left;
    width: 100%;
    height: 45px;
}

.main_video-top span:nth-child(1){
    float: left;
    margin-top: 10px;
    text-align: left;
    height: 25px;
    line-height: 25px;
}

.main_video-top span i{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    vertical-align: middle;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -30px -131px;
}

.main_video-top span h2{
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #333333;
}

.main_video-top span:nth-last-child(1){
    float: right;
    width: 1065px;
    height: 35px;
    text-align: right;
    border-bottom: 1px solid #bdb0b0;
}

.main_video-top a h4,
.main_video-left-div1 a h4{
    display: inline-block;
    font-size: 13px;
    color: #999999;
}

.main_video-top a{
    float: right;
    height: 15px;
}

.main_video-top a:hover h4,
.main_video-left-div1 a:hover h4{
    color: #0071bc;
}

.main_video-top a i,
.main_video-left-div1 a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -150px -165px;
}

.main_video-top a:hover i,
.main_video-left-div1 a:hover i{
    background-position: -170px -165px;
}

/* .main_video-left- */
.main_video-left{
    float: left;
    width: 390px;
    height: 325px;
}

.main_video-left-div1{
    float: left;
    border-left: 5px solid #0071bc;
    width: 100%;
    height: 24px;
    line-height: 24px;
}

.main_video-left-div1 h3{
    float: left;
    font-weight: normal;
    font-size: 17px;
    margin: 2px 0px 0px 10px;
}

.main_video-left-div1 span{
    float: right;
}

.main_video-left-div1 span a{
    display: inline-block;
    margin-top: 2px;
}

.main_video-left div:nth-last-child(-n+3){
    float: left;
    width: 100%;
    margin-top: 12px;
    height: 87px;
    border-bottom: 1px dashed #999999;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(1){
    float: left;
    width: 73px;
    height: 73px;
}

.main_video-left div img{
    width: 73px;
    height: 73px;
    vertical-align: middle;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(2){
    float: left;
    width: 240px;
    height: 70px;
    padding-left: 15px;
    box-sizing: border-box;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(2) a{
    display: inline-block;
    font-size: 15px;
    color: #333333;
    margin-top: 2px;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(2) a:hover{
    color: #fe677f;
    text-decoration: underline;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(2) b{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    margin-top: 12px;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(3){
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin: 6px;
    text-align: right;
    border-left: 1px solid #e0d9d9;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(3) h4{
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
    color: #999999;
}

.main_video-left div:nth-last-child(-n+3) span:nth-child(3) h2{
    display: inline-block;
    font-size: 26px;
    font-weight: normal;
    margin-top: 8px;
    color: #f54d4d;
}


/* .main_video-right */
.main_video-right{
    float: right;
    width: 790px;
    height: 325px;
}

.main_video-right span{
    position: relative;
    float: left;
    width: 180px;
    height: 150px;
    margin-right: 20px;
    text-align: center;
}

.main_video-right span a:nth-last-child(2){
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
}

.main_video-right span:hover a:nth-last-child(2){
    color: #fe6161;
    text-decoration: underline;
}

.main_video-right span:nth-child(4n){
    margin-right: 0px;
}

.main_video-right span:nth-child(-n+4){
    margin-bottom: 20px;
}

.main_video-right span img{
    width: 180px;
    height: 120px;
    vertical-align: middle;
}

.main_video-right span i{
     position: absolute;
     top: 44px;
     left: 66px; 
     width: 42px;
     height: 42px;
     background-image: url(../img-jlt/bg7.png);
     background-repeat: no-repeat;
     background-position: -50px -295px;
}

.main_video-right span:hover i{
    background-position: -100px -295px;
}

/* 主板-专题合集.main_special-top */
.main_special{
    width: 100%;
    height: 430px;
}

/* .main_special-top */
.main_special-top{
    float: left;
    width: 100%;
    height: 45px;
}

.main_special-top span:nth-child(1){
    float: left;
    margin-top: 10px;
    text-align: left;
    height: 25px;
    line-height: 25px;
}

.main_special-top span i{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    vertical-align: middle;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -30px -131px;
}

.main_special-top span h2{
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #333333;
}

.main_special-top span:nth-last-child(1){
    float: right;
    width: 1065px;
    height: 35px;
    text-align: right;
    border-bottom: 1px solid #bdb0b0;
}

.main_special-top a h4{
    display: inline-block;
    font-size: 13px;
    color: #999999;
}

.main_special-top a{
    float: right;
    height: 15px;
}

.main_special-top a:hover h4{
    color: #0071bc;
}

.main_special-top a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -150px -165px;
}

.main_special-top a:hover i{
    background-position: -170px -165px;
}

/* .main_special-left */
.main_special-left{
    float: left;
    width: 870px;
    height: 335px;
    margin-top: 15px;
}

.main_special-left span{
    position: relative;
    float: left;
    width: 200px;
    height: 155px;
    text-align: center;
    margin-right: 23px;
    border-bottom: 1px solid #cccccc;
}

.main_special-left span:nth-child(4n){
    margin-right: 0px;
}

.main_special-left span:nth-child(-n+4){
    margin-bottom: 22px;
}

.main_special-left span img{
    width: 200px;
    height: 110px;
}

.main_special-left span a:nth-last-child(2){
    display: inline-block;
    font-size: 15px;
    color: #393939;
    margin-top: 13px;
}

.main_special-left span a:nth-last-child(2):hover{
    color: #f84242;
    text-decoration: underline;
}

.main_special-left span a:nth-last-child(1){
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 65px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: white;
    background-color: #fe6161;
}

/* main_special-right */
.main_special-right{
    float: right;
    width: 300px;
    height: 335px;
    margin-top: 15px;
    background-color: #f7f7f7;
}

.main_special-right-ul{
    width: 268px;
    height: 100%;
    margin: 0px auto;
}

.main_special-right-ul li{
    float: left;
    width: 100%;
    height: 39px;
    line-height: 39px;
    font-size: 15px;
    color: #393939;
    border-bottom: 1px dashed #999999;
}

.main_special-right-ul li a:nth-child(1){
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -195px;
}

.main_special-right-ul li a:nth-child(2){
    float: left;
    width: 240px;
    height: 100%; 
    white-space: nowrap;
}

.main_special-right-ul li:hover a:nth-child(2){
    color: #f84242;
    text-decoration: underline;
}


/* 版心-专题合集下 */
.main_gather{
    width: 100%;
    height: 695px;
}


/* main_gather-top */
.main_gather-top{
    float: left;
    width: 100%;
    height: 115px;
}

.main_gather-top div{
    float: left;
    width: 297px;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
}

.main_gather-top div:nth-child(1){
    background-color: #cc98e1;
}

.main_gather-top div:nth-child(2){
    background-color: #39c88a;
}

.main_gather-top div:nth-child(3){
    background-color: #006eb8;
}

.main_gather-top div:nth-child(4){
    background-color: #fe6161;
    margin-right: 0px;
}
.main_gather-top div span:nth-child(1){
    float: left;
    width: 120px;
    height: 75px;
    margin-top: 18px;
    border-right: 1px solid #f7e3e3;
    text-align: center;
}

.main_gather-top div span:nth-child(1) i{
    display: inline-block;
    width: 38px;
    height: 40px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
}

.main_gather-top-div1 span:nth-child(1) i{
    background-position: -138px -225px;
}

.main_gather-top-div2 span:nth-child(1) i{
    background-position: -52px -228px;
}

.main_gather-top-div3 span:nth-child(1) i{
    background-position: 0px -230px;
}

.main_gather-top-div4 span:nth-child(1) i{
    background-position: -95px -228px;
}

.main_gather-top div span:nth-child(1) h2{
    display: inline-block;
    font-size: 18px;
    margin-top: 8px;
    font-weight: normal;
    color: white;
}

.main_gather-top div span:nth-child(1) h2:hover{
    font-size: 25px;
    color: yellow;
}

.main_gather-top div span:nth-child(2){
    float: right;
    width: 150px;
    height: 65px;
    margin-top: 20px;
    text-align: left;
}

.main_gather-top div span:nth-child(2) a{
    display: inline-block;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 13px;
    padding: 3px 5px;
    line-height: 15px;
    color: white;
    margin: 5px 5px 7px 0px;
    white-space: nowrap;
}

.main_gather-top div  span:nth-child(2) a:hover{
    color: yellow;
}

/* main_gather-left */
.main_gather-left{
    float: left;
    width: 870px;
    height: 510px;
    margin-top: 30px;
}

.main_gather-left ul{
    float: left;
    width: 145px;
    height: 165px;
    margin-right: 30px;
    line-height: 20px;
}
.main_gather-left ul li{
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}

.main_gather-left ul:nth-child(5n){
    margin-right: 0px;
}

.main_gather-left ul:nth-child(-n+5){
    margin-bottom: 20px;
}

.main_gather-left ul:nth-last-child(-n+5){
    margin-top: 20px;
}

.main_gather-left ul li b{
    float: left;
    font-size: 15px;
    width: 110px;
    color: #999999;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
}

.main_gather-left ul li:hover b{
    color: hsl(0, 100%, 50%);
    text-decoration: underline;
}

.main_gather-left a img{
    float: left;
    width: 20px;
    height: 20px;
}

.main_gather-left ul li:nth-child(1){
    margin-bottom: 3px;
    height: 26px;
    line-height: 26px;
    border-left: 5px solid #006eb8;
}

.main_gather-left ul li:nth-child(1) b{
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
    font-weight: normal;
}

.main_gather-left ul img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.main_gather-left ul li a{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* main_gather-right */
.main_gather-right{
    float: right;
    width: 300px;
    height: 510px;
    margin-top: 30px;
}

.main_gather-right_div1{
    float: left;
    width: 100%;
    height: 45px;
    border-top: 1px solid #bdb0b0;
    border-bottom: 1px solid #bdb0b0;
}

.main_gather-right_div1 a{
    float: left;
    width: 150px;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    color: #393939;
}

.main_gather-right_div1 a:hover{
    color: #0071bc;
    border-bottom: 2px solid #0071bc;
}

.main_gather-right_div2{
    float:left;
    width: 100%;
    height: 455px;
}

.main_gather-right_div2-div{
    float: left;
    width: 100%;
    border-bottom: 1px dashed #cccccc; 
}

.main_gather-right_div2-div .main_gather-right_div2-div-black{
    display: block;
    float: left;
    width: 100%;
    height: 50px;
}

.main_gather-right_div2-div:hover .main_gather-right_div2-div-black{
    display: none;
}

.main_gather-right_div2-div .main_gather-right_div2-div-black b{
    float: left;
    width: 20px;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    color: #cccccc;
    overflow: hidden;
    margin-right: 10px;
    white-space: nowrap;
    font-weight: normal;
}

.main_gather-right_div2-div:nth-child(-n+3) div:nth-child(1) b{
    color: #f84242;
}

.main_gather-right_div2-div div:nth-child(1):hover b{
    color: #f84242;
}

.main_gather-right_div2-div .main_gather-right_div2-div-black span{
    float: left;
    width: 260px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
}

.main_gather-right_div2-div .main_gather-right_div2-div-none{
    display: none;
}

.main_gather-right_div2-div:hover .main_gather-right_div2-div-none{
    display: block;
    float: left;
    width: 100%;
    height: 95px;
}

 .main_gather-right_div2-div-none b{ 
    float: left;
    width: 20px;
    font-size: 25px;
    height: 20px;
    line-height: 20px;
    color: #f84242; 
    overflow: hidden;
    margin: 19px 10px 0px 0px;
    white-space: nowrap;
    font-weight: normal;
}

.main_gather-right_div2-div-none img{
    float: left;
    width: 65px;
    height: 65px;
    margin-top: 16px;
    margin-right: 15px;
}

.main_gather-right_div2-div-none ol{
    float: left;
    width: 155px;
    height: 65px;
    margin-top: 20px;
}

.main_gather-right_div2-div-none ol li{
     text-align: left;
     font-size: 14px;
     color: #cccccc;
     padding-bottom: 8px;
}
.main_gather-right_div2-div-none ol li:nth-child(1) a{
    color: #333333;
    font-size: 15px;
}

.main_gather-right_div2-div-none ol li:nth-child(1):hover a{
   text-decoration: underline;
   color: #fe6161;
}

.main_gather-right_div2-div-none ol li i{
    display: inline-block;
    width: 85px;
    height: 16px;
    background-image: url(../img-jlt/star.png);
    background-repeat: no-repeat;
    background-position: 0px -40px;
    vertical-align: middle;
}

.main_gather-right_div2-div-none small{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 40px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -275px;
}

.main_gather-right_div2-div-none small:hover{
    background-position: -30px -275px;
}


/* 版心-热榜 */
.main_hotlist{
    width: 100%;
    height: 630px;
}

.main_hotlist_fast{
    float: left;
    height: 100%;
    width: 384px;
    margin-top: 15px;
    margin-right: 30px;
}

.main_hotlist_fast:nth-child(3){
    margin-right: 0px;
}

.main_hotlist_fast .main_hotlist-top{
    float: left;
    width: 100%;
}

.main_hotlist-top h2{
    float: left;
    width: 150px;
    height: 100%;
    line-height: 45px;
    font-size: 18px;
    color: #333333;
    font-weight: normal;
}

.main_hotlist-top span{
    float: right;
    width: 80px;
    text-align: right;
    height: 100%;
    line-height: 45px;
}

.main_hotlist-top span i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -150px -165px;
    vertical-align: middle;
}
.main_hotlist-top span:hover i{
    background-position: -170px -165px;
}

.main_hotlist-top span b{
    font-weight: normal;
    font-size: 13px;
    color: #999999;
    margin-left: 5px;
}

.main_hotlist-top span:hover b{
    color: #0071bc;
}

.main_hotlist_fast .main_hotlist-mild{
    float: left;
    height: 35px;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.main_hotlist_fast .main_hotlist-mild span{
    height: 100%;
    line-height: 35px;
    color: #333333;
    font-size: 16px;
}

.main_hotlist_fast .main_hotlist-mild span:nth-child(1){
    display: inline-block;
    padding-right: 55px;
    margin-left: 10px;
}

.main_hotlist_fast .main_hotlist-mild span:nth-child(2){
    display: inline-block;
    padding-right: 55px;
}

.main_hotlist_fast .main_hotlist-mild span:nth-child(3){
    display: inline-block;
    padding-right: 40px;
}

.main_hotlist_fast .main_hotlist-mild span:nth-child(4){
    display: inline-block;
    padding-right: 38px;
}

.main_hotlist_fast .main_hotlist-bottom{
    float: left;
    height: 500px;
    width: 100%;
}


.main_hotlist-bottom-ul li{
    float: left;
    width: 100%;
    /* line-height: 47px; */
    border-bottom: 1px dashed #999999;
}

.main_hotlist-bottom-ul li h5{
    display: inline-block;
    width: 47px;
    height: 48px;
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    font-weight: normal;
    background-color: #cccccc;
    color: white;
}

.main_hotlist-bottom-ul li:nth-child(-n+3) h5{
    background-color: #fe6161;
}

.main_hotlist-bottom-ul li a{
    display: inline-block;
    width: 150px;
    height: 100%;
    font-size: 15px;
    line-height: 47px;
    margin-left: 10px;
    font-weight: normal;
    color: #333333;
}

.main_hotlist-bottom-ul li a:hover{
    color: #f51f1f;
    text-decoration: unset;
}

.main_hotlist-bottom-ul li h6{
    display: inline-block;
    width: 65px;
    height: 100%;
    font-size: 13px;
    line-height: 47px;
    font-weight: normal;
    color: #999999;
    margin-right: 18px;
}

.main_hotlist-bottom-ul li small{
    display: inline-block;
    width: 30px;
    height: 100%;
    font-size: 13px;
    line-height: 47px;
    font-weight: normal;
    color: #999999;
    /* margin-right: 20px; */
}

.main_hotlist-bottom-ul li i{
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 15px;
    margin-right: 13px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -60px -275px;
    vertical-align: middle;
}

.main_hotlist-bottom-ul li i:hover{
    background-position: -85px -275px;
}


/*  版心-分类更新 */
.main_classify{
    width: 100%;
    height: 450px;
}

.main_classify-top{
    float: left;
    width: 100%;
    height: 45px;
}

.main_classify-top span:nth-child(1){
    float: left;
    width: 110px;
    height: 100%;
    line-height: 45px;
}

.main_classify-top span:nth-child(1) i{
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -60px -130px;
    vertical-align: middle;
}

.main_classify-top span:nth-child(1) b{
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: #333333;
}

.main_classify-top .main_classify-top-span2{
    float: right;
    width: 1066px;
    height: 34px;
    border-bottom: 1px solid #cccccc;
}

 .main_classify-top-span2 a{
    float: left;
    width: 90px;
    height: 100%;
    text-align: center;
    color: #cccccc;
}

.main_classify-top-span2 a b{
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}

.main_classify-top-span2 a:hover b{
    color: #0071bc;
}

.main_classify-top-span2 a:nth-child(1){
    display: inline-block;
    margin-left: 50px;
}

.main_classify-top-span2 a i{
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-top: 8px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -164px;
}

.main_classify-top-span2 a:hover i{
    background-position: -25px -163px;
}

.main_classify-top-span2 small{
    float: right;
    height: 20px;
    line-height: 20px;
}

.main_classify-top-span2 small i{
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -150px -165px;
}

.main_classify-top-span2 small:hover i{
    background-position: -170px -165px;
}

.main_classify-top-span2 small b{
    float: right;
    font-size: 13px;
    font-weight: normal;
    color: #999999;
}

.main_classify-top-span2 small:hover b{
    color: #0071bc;
}
/* main_classify-bottom */
.main_classify-bottom{
    float: left;
    height: 355px;
    width: 100%;
    margin-top: 15px;
}

.main_classify-bottom .main_classify-bottom-leftlist{
    float: left;
    width: 415px;
    height: 100%;
    margin-right: 30px;
}

.main_classify-bottom-leftlist:nth-child(2){
    margin-right: 0px;
}

.main_classify-bottom-leftlist-ul{
    width: 100%;
    height: 100%;
}

.main_classify-bottom-leftlist-ul li{
    width: 100%;
    color: #999999;
    line-height: 32px;
}

.main_classify-bottom-leftlist-ul li i{
    font-size: 13px;
    width: 55px;
}

.main_classify-bottom-leftlist-ul li b{
    display: inline-block;
    padding: 0px 10px;
    color: #cccccc;
}

.main_classify-bottom-leftlist-ul li a{
    display: inline-block;
    width: 300px;
}

.main_classify-bottom-leftlist-ul li:hover a{
    color: #f84242;
    text-decoration: underline;
}

/* main_classify-bottom-right */
.main_classify-bottom .main_classify-bottom-right{
    float: right;
    width: 300px;
    height: 100%;
}

.main_classify-bottom-right-div1{
    float: left;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #cccccc;
}

.main_classify-bottom-right-div1 span:nth-child(1){
    float: left;
    width: 150px;
    line-height: 47px;
    color: #333333;
    font-size: 18px;
}

.main_classify-bottom-right-div1 span:nth-child(2){
    float: right;
    width: 100px;
    text-align: right;
    line-height: 20px;
    margin-top: 12px;
}

.main_classify-bottom-right-div1 span:nth-child(2) b{
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}
.main_classify-bottom-right-div1 span:nth-child(2):hover b{
    color: #24afff;
}

.main_classify-bottom-right-div1 span:nth-child(2) i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -150px -165px;
    vertical-align: middle;
}

.main_classify-bottom-right-div1 span:nth-child(2):hover i{
    background-position: -170px -165px;
}

.main_classify-bottom-right-div2{
    float: left;
    width: 100%;
}

.main_classify-bottom-right-div2 .main_classify-bottom-right-div2-list{
      float: left;
      width: 100%;
      border-bottom: 1px dashed #cccccc;
}

.main_classify-bottom-right-div2-list .main_classify-bottom-right-div2-listblok{
    display: block;
    float: left;
    width: 100%;
    line-height: 47px;
}

.main_classify-bottom-right-div2-listblok b{
    display: inline-block;
    margin-right: 20px;
    color: #cccccc;
    font-size: 20px;
}

.main_classify-bottom-right-div2-listblok span{
    font-size: 13px;
}

.main_classify-bottom-right-div2-list:nth-child(-n+3) b{
    color: #fe6161;
}

.main_classify-bottom-right-div2-list:hover .main_classify-bottom-right-div2-listblok{
    display: none;
}

.main_classify-bottom-right-div2-list .main_classify-bottom-right-div2-listnone{
    display: none;
    float: left;
    width: 100%;
    height: 98px;
}

.main_classify-bottom-right-div2-list:hover .main_classify-bottom-right-div2-listnone{
    display: block;
}

.main_classify-bottom-right-div2-listnone b{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    line-height: 20px;
    font-size: 20px;
    color: #cccccc;
}

.main_classify-bottom-right-div2-listnone img{
    float: left;
    width: 65px;
    height: 65px;
    margin: 18px 20px 0px 22px;
}

.main_classify-bottom-right-div2-listnone ol{
    float: left;
    width: 140px;
    height: 65px;
    margin-top: 18px;
}

.main_classify-bottom-right-div2-listnone ol li{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #cccccc;
    padding-bottom: 10px;
}

.main_classify-bottom-right-div2-listnone ol li:nth-child(1){
    font-size: 14px;
    color: #333333;
}

.main_classify-bottom-right-div2-listnone ol li:nth-child(1):hover a{
    color: #fd7d7d;
    text-decoration: underline;
}

.main_classify-bottom-right-div2-listnone ol li:nth-child(3) i{
    display: inline-block;
    width: 100px;
    height: 15px;
    background-image: url(../img-jlt/star.png);
    background-repeat: no-repeat;
    background-position: 0px -40px;
}

.main_classify-bottom-right-div2-listnone small{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 40px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: 0px -275px;
}

.main_classify-bottom-right-div2-listnone small:hover{
    background-position: -30px -275px;
}


/* 版心-友情链接 */
.amin_friendly{
    width: 100%;
    height: 385px;
}

.amin_friendly .amin_friendly-top{
    float: left;
    width: 100%;
    height: 45px;
}

.amin_friendly .amin_friendly-top span:nth-child(1){
    float: left;
    line-height: 45px;
}

.amin_friendly .amin_friendly-top span:nth-child(1) i{
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 8px;
   margin-top: 8px;
    background-image: url(../img-jlt/bg1.png);
    background-repeat: no-repeat;
    background-position: -92px -129px;
}

.amin_friendly .amin_friendly-top span:nth-child(1) b{
    font-size: 19px;
    color: #333333;
    font-weight: normal;
}

.amin_friendly .amin_friendly-top span:nth-child(2){
    float: right;
    height:35px;
    width: 1066px;
    text-align: right;
    line-height: 35px;
    border-bottom: 1px solid #cccccc;
}

.amin_friendly .amin_friendly-top span:nth-child(2) a{
     color: #999999;
}

.amin_friendly .amin_friendly-top span:nth-child(2) a:hover{
    color: #f51f1f;
}


.amin_friendly .amin_friendly-bottom{
    float: left;
    width: 100%;
    height: 312px;
    margin-top: 22px;
}

.amin_friendly .amin_friendly-bottom table{
    border: 1px solid #cccccc;
}

.amin_friendly-bottom table td{
    display: inline-block;
    width: 201px;
    line-height: 35px;
    background-image: url(../img-jlt/bg3.png);
    background-repeat: no-repeat;
    background-position: 11px 14px;
}

.amin_friendly-bottom table a{
    font-size: 15px;
    color: #333333;
    margin-left: 30px;
}

.amin_friendly-bottom table a:hover{
   text-decoration: underline;
    color: #f51f1f;
}

/* 底部 */
.bottomlink{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    background-color: #f7f7f7;
}

.bottom_link{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
}

.bottom_link .bottom_link-span1{
    float: left;
    width: 270px;
    height: 150px;
    margin-top: 30px;
    margin-left: 20px;
    border-right: 1px solid #cccccc;
}

.bottom_link .bottom_link-span1 img{
    width: 200px;
    margin-top: 40px;
}

.bottom_link .bottom_link-span2{
    float: left;
    width: 550px;
    height: 150px;
    margin-top: 30px;
    margin-left: 50px;
    border-right: 1px solid #cccccc;
}

.bottom_link-span2 small{
    float: left;
    width: 100%;
}

.bottom_link-span2 small a{
    display: inline-block;
    font-size: 15px;
    color: #999999;
    padding: 8px 10px;
}

.bottom_link-span2 small a:hover{
    color: #f51f1f;
    text-decoration: underline;
}

.bottom_link-span2 small b{
    display: inline-block;
    font-size: 15px;
    color: #333333;
    padding: 8px 10px;
}

.bottom_link .bottom_link-span3{
    float: right;
    margin-top: 30px;
    height: 150px;
    text-align: center;
}

.bottom_link .bottom_link-span3 small{
    float: right;
    width: 115px;
    height: 150px;
    margin-right: 25px;
}

.bottom_link-span3 small img{
    width: 115px;
    height: 115px;
}

.bottom_link-span3 small i{
    display: inline-block;
    line-height:20px;
    color: #333333;
    font-size: 13px;
}

/* 　 　底部-下 　 　 */
 　 
body .bottomput{
    width: 100%;
    height: 115px;
    /* font-size: 0px; */
    background-color: #8b8b8b;
}

.bottomput span{
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    padding: 8px 0px;
    background-color: #8b8b8b;
}

.bottomput span:nth-child(1){
    display: block;
    padding: 20px 0px 0px 0px;
}

.bottomput span:nth-last-child(1){
    display: block;
    padding: 5px 0px 15px 0px;
}
