.whitetop{
    height: 30px;
    width: 100%;
    background-color: #f5f5f5;
}

.white_top{
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.white_top span:nth-child(1){
    float: left;
    height: 30px;
    line-height: 30px;
}

.white_top span:nth-child(1) a img{
    float: left;
    margin-right: 5px;
    margin-top: 6px;
}

.white_top span a{
    font-size: 15px;
    color: #686464;
}

.white_top span:nth-child(1) a{
    display: inline-block;
    padding: 0px 10px;
}

.white_top span:nth-child(1) a:hover{
    color: #e83a17;
    text-decoration: underline;
}

.white_top span:nth-child(1) a:nth-child(2){
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.white_top span:nth-child(1) a:nth-child(3){
    position: relative;
    color: red;
}

.white_top span:nth-child(1) a:nth-child(3):hover{
    text-decoration: underline;
}

.white_top span:nth-child(1) a:nth-child(3)::after{
   content: "注册立赠100元代金券";
   position: absolute;
   top: 2px;
   left: 74px;
   display: inline-block;
   color: white;
   width: 138px;
   height: 16px;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   background-color: #ff0000;
}

.white_top span:nth-child(1) a:nth-child(3)::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 64px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-right: 5px solid #e83a17;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.white_top span:nth-child(2){
    position: relative;
    float: right;
    height: 30px;
    line-height: 30px;
}

.white_top span:nth-child(2) a{
    display: inline-block;
    padding: 0px 30px;
}

.white_top span:nth-child(2) a:hover{
    color: #ff0000;
}

.white_top span:nth-child(2) a:nth-child(2){
    /* position: relative; */
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-image: url(../img/v1.png);
    background-repeat: no-repeat;
    background-position: 93px 12px;
}

.white_top-span2 ul{
    display: none;
}

.white_top-span2:hover a:nth-child(2)+ul{
    display: block;
    position: absolute;
    top: 29px;
    right: 0px;
    width: 120px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #cccccc;
}

.white_top-span2 ul li{
    width: 100%;
}

.white_top-span2 ul li:hover{
    background-color: #e6dcdc;
}

.white_top-span2 ul li:nth-child(3){
    border-top: 1px solid #cccccc;
}

.white_top-span2 .white_top-span2-ul li a{
    display: inline-block;
    padding: 0px 0px 0px 30px;
}

.white_top-span2-ul li a:hover{
    color: #fd004f;
}


/* 头部导航 */
.maintop{
   width: 100%;
   height: 90px;
   background-color: #133088;
}
.main_top{
    width: 100%;
    height: 90px;
}

.main_top-div1{
    float: left;
    height: 100%;
    width: 90px;
    text-align: left;
}

.main_top-div1 img{
    margin-top: 21px;
}

.main_top-div1 i{
    display: inline-block;
    font-size: 15px;
    color: white;
    margin-top: 4px;
}

.main_top .main_top-div2{
    float: right;
    height: 90px;
}

.main_top-div2 span:nth-child(1){
     display: inline-block;
      height: 100%;
      margin-left: 50px;
      display: inline-block;                
}

.main_top-div2 span:nth-child(1) a{
    display: inline-block;
    color: black;
    padding: 5px 15px;
    font-size: 18px;
    margin: 31px 23px 30px 23px;
    border-radius: 10px;
    background-color: white;
}

.main_top-div2 span:nth-child(1) a:hover{
    color: white;
    background-color: #999999;
}

.main_top-div2 span:nth-child(2){
    float: right;
    width: 175px;
    height: 35px;
    margin-top: 27px;
    margin-left: 20px;
    border: 1px solid #999999;
    border-radius: 26px;
    background-color: white;
}

.main_top-div2 span:nth-child(2) input{
    width: 120px;
    border: none;
    height: 20px;
    font-size: 13px;
    color: #999999;
    margin-top: 7px;
    margin-left: 16px;
}

.main_top-div2 span:nth-child(2) img{
   margin-bottom: 3px; 
   vertical-align: middle;
}

/* 中心 */
.mainmild{
    height: 795px;
    width: 100%;
    background-color: #ffffff;
}

.main_mild{
    height: 795px;
    width: 100%;
}

.main_mild .main_mild_div1{
    float: left;
    height: 600px;
    width: 440px;
    margin-top: 20px;
}

.main_mild .main_mild_div1 span:nth-child(1){
    display: inline-block;
    width:100%;
    height: 440px;
    border: 1px solid #cccccc;
}

 .main_mild_div1 span:nth-child(1) img{
     width: 440px;
 }

.main_mild .main_mild_div1 span:nth-child(2){
    display: inline-block;
    width: 100%;
    height: 140px;
    margin-top: 20px;
}

.main_mild_div1 span:nth-child(2) small{
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    border: 2px solid white;
}

.main_mild_div1 span:nth-child(2) small:nth-child(2),
.main_mild_div1 span:nth-child(2) small:nth-child(3){
    position: relative;
}

.main_mild_div1 span:nth-child(2) small:nth-child(2) b,
.main_mild_div1 span:nth-child(2) small:nth-child(3) b{
    display: none;
}

.main_mild_div1 span:nth-child(2) small:nth-child(2):hover b{
    display: block;
    position: absolute;
    top: -487px;
    left: -44px;
    border: 1px solid #cccccc;
}

.main_mild_div1 span:nth-child(2) small:nth-child(3):hover b{
    display: block;
    position: absolute;
    top: -487px;
    left: -173px;
    border: 1px solid #cccccc;
}


.main_mild_div1 span:nth-child(2) small:nth-child(2) b img,
.main_mild_div1 span:nth-child(2) small:nth-child(3) b img{
    width: 440px;
    height: 438px;
}

.main_mild_div1 span:nth-child(2) small:hover{
    border: 2px solid red;
}

.main_mild_div1 span:nth-child(2) small:nth-child(4){
    margin-right: 0px;
    border: 2px solid red;
}

.main_mild_div1 span:nth-child(2) i{
    float: left;
    margin-top: 61px;
    margin-right: 21px;
}
.main_mild_div1 span:nth-child(2) i:nth-last-child(1){
    float: right;
    margin-right: 0px;
}

.main_mild_div1 span:nth-child(2) small img{
  height: 110px;
  width: 110px;
}

.main_mild .main_mild_div2{
   float: right;
   margin-top: 20px;
   width: 700px;
   height: 520px;
}

.main_mild_div2 .main_mild_div2-div1{
    float: left;
    width: 100%;
}

.main_mild_div2 .main_mild_div2-div1 span{
    display: inline-block;
    width: 100%;
}

.main_mild_div2 .main_mild_div2-div1 span:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    line-height: 45px;
    text-align: left;
}

.main_mild_div2 .main_mild_div2-div1 span:nth-child(2){
    font-size: 15px;
    color: #333333;
    line-height: 45px;
    text-align: left;
}


.main_mild_div2 .main_mild_div2-div2{
    float: left;
    width: 100%;
    margin-top: 5px;
    background-color: #f5f5f5;
}

.main_mild_div2 .main_mild_div2-div2 span{
    display: inline-block;
    width: 100%;
}

.main_mild_div2 .main_mild_div2-div2 span:nth-child(1){
    font-size: 16px;
    color: white;
    line-height: 35px;
    background-image: url(../img/b_1_newgoumai.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_mild_div2-div2 span:nth-child(1) img{
    float: left;
    margin:6px 10px 0px 5px;
}

.main_mild_div2 .main_mild_div2-div2 span:nth-child(2){
    display: inline-block;
    font-size: 13px;
    color: white;
    margin-top: 20px;
}

.main_mild_div2 .main_mild_div2-div2 span i,
.main_mild_div2 .main_mild_div2-div2 span:nth-child(3) i{
    font-size: 13px;
    color: #aaaaaa;
    line-height: 25px;
    margin-right: 50px;
    margin-left: 10px;
} 

.main_mild_div2 .main_mild_div2-div2 span:nth-child(2) i:nth-last-child(1){
    text-decoration: line-through;
}

.main_mild_div2 .main_mild_div2-div2 span b{
    color: red;
    font-size: 28px;
}

.main_mild_div2 .main_mild_div2-div2 span small{
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    font-size: 12px;
    color: white;
    padding: 3px 5px;
    background-color: #f67887;
}

.main_mild_div2 .main_mild_div2-div2 span small::after{
    content: "";
    position: absolute;
    top: 2px;
    left: -8px;
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid red;
}

.main_mild_div2 .main_mild_div2-div2 span:nth-child(3){
    display: inline-block;
    font-size: 13px;
    color: #585757;
    margin: 15px 0px 20px 0px;
}

.main_mild_div2 .main_mild_div2-div3{ 
    float: left;
}

.main_mild_div2-div3 span{
    float: left;
    width: 100%;
}

.main_mild_div2-div3 span i{
    float: left;
    color: #999999;
    font-size: 13px;
    margin: 15px 40px 0px 10px;
}

.main_mild_div2 .main_mild_div2-div3 ul{
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
}

 .main_mild_div2-div3 ul a{
     color: #e83a17;
 }

 .main_mild_div2-div3 span:nth-child(2) i{
     display: inline-block;
     margin-left: 20px;
     margin-top: 30px;
 }

 .main_mild_div2-div3 span:nth-child(2) li{
     line-height: 35px;
     padding-right: 60px;
     margin-top: 15px;
     border: 1px solid #cccccc;
 }

 .main_mild_div2-div3 span:nth-child(2) li:nth-child(1){
    border: 1px solid red;
 }

 .main_mild_div2-div3 span:nth-child(2) li:hover{
    border: 1px solid red;
 }

 .main_mild_div3{
     float: left;
     width: 100%;
 }

 .main_mild_div3 span{
     display: inline-block;
     width: 100%;
     text-align: center;
     margin-top: 80px;
 }

 .main_mild_div3 span a{
     display: inline-block;
     width: 140px;
     height: 45px;
     color: white;
     font-size: 18px;
     line-height: 45px;
     text-align: center;
     background-color: #e83a17;
 }

 .main_mild_div3 span a:hover{
     color: red;
    background-color: yellow;
 }

/* 底部搜索栏 */
.bottomsearch{
    width: 100%;
    height: 310px;
    background-color: #eeeeee;
}

.bottom_search{
    width: 100%;
    height: 310px;
}

.bottom_search .bottom_search_span1{
    float: left;
}

.bottom_search .bottom_search_span1 ul{
    float: left;
    margin-right: 111px;
    margin-top: 30px;
}

.bottom_search_span1 ul li a{
    line-height: 32px;
    font-size: 15px;
    color: #999999;
}

.bottom_search_span1 ul li a:hover{
    color: red;
    text-decoration: underline;
}

.bottom_search_span1 ul li:nth-child(1) a{
    line-height: 70px;
    font-size: 22px;
    text-align: left;
    color: #666666;
}

.bottom_search_span1 ul li:nth-child(1) a{
    text-decoration: none;
}

.bottom_search .bottom_search_span2{
    position: relative;
    float: right;
    text-align: center;
    font-size: 30px;
    width: 155px;
    color: #999999;
    margin-top: 49px;
}

.bottom_search .bottom_search_span2 img{
    width: 100px;
    margin-top: 5px;
    vertical-align: middle;
}

.bottom_search .bottom_search_span2:hover{
    position: relative;
    top: -3px;
    left: 0px;
    color: red;
    transition: all 2s;
    box-shadow: 0px 0px 10px 7px #cccccc;
}

.bottom_search .bottom_search_span2:hover img{
    width: 155px;
    transition: all 2s;
}

/* 底部 */
.bottom_no{
    width: 100%;
    height: 250px;
}

 .bottom_no-div1{
     width: 100%;
     border-bottom: 1px solid #cccccc;
 }

 .bottom_no-div1 span{
     display: inline-block;
     line-height: 70px;
     color: #000000;
     font-size: 18px;
     font-weight: bold;
     padding: 0px 95px;
 }

 .bottom_no-div1 span img{
     vertical-align: middle;
     margin-right: 10px;
     margin-bottom: 5px;
 }

 .bottom_no-div2{
     position: relative;
     width: 100%;
     margin-top: 20px;
 }

 .bottom_no-div2 span{
     display: inline-block;
     width: 100%;
     line-height: 30px;
     text-align: center;
     color: #666666;
     font-size: 14px;
 }

 .bottom_no-div2 span a:hover{
     text-decoration: underline;
     color: red;
 }

 .bottom_no-div2 span img{
    width: 20px;
    height: 30px; 
    vertical-align: middle;
    margin-right: 5px;
 }

 .bottom_no-div2 span img:nth-last-child(1){
     width: 100px;
 }

 .bottom_no-div2 small{
    position: absolute;
    bottom: 288px;
    right: -152px;
    font-size: 15px;
    color: #333333;
    line-height: 25px;
 }

/* 右边固定栏 */
.right_fixed{
    position: fixed;
    float: right;
    top: 245px;
    right: 0px;
    height: 320px;
    width: 45px;
}

.right_fixed span:nth-child(1){
    float: right;
    height: 225px;
}

.right_fixed span a{
    float: right;
    height: 45px;
    width: 250px;
}
.right_fixed span a i{
    float: right;
    width: 45px;
    height: 45px;
    background-color: #333333;
    background-repeat: no-repeat;
}

.right_fixed span:nth-child(1) a:nth-child(1) i{
    position: relative;
    background-image: url(../img/d_7.png);
}

.right_fixed span i:hover {
    background-color: #e83a17;
}

.right_fixed span a b{
     display: none;   
}

.right_fixed span a i:hover+b{
    display: block;
    float: right;
    height: 45px;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    line-height: 45px;
    padding: 0px 13px;
    border-radius: 7px 0px 0px 7px;
    background-color: #e83a17;
}

.right_fixed span:nth-child(1) a:nth-child(4),
.right_fixed span:nth-child(1) a:nth-child(5){
    position: relative;
}

.right_fixed span:nth-child(1) a:nth-child(4) small,
.right_fixed span:nth-child(1) a:nth-child(5) small{
    display: none;
}

.right_fixed span:nth-child(1) a:nth-child(4) i:hover+small,
.right_fixed span:nth-child(1) a:nth-child(5) i:hover+small{
    position: absolute;
    display: block;
    top: 0px;
    left: -100px;
    width: 250px;
    background-color: #e83a17;
    line-height: 25px;
    font-size: 15px;
    color: white;
    padding: 0px 10px;
    text-align: center;
    border-radius: 6px;
}

.right_fixed span:nth-child(1) a:nth-child(5) img{
    width: 106px;
}

.right_fixed span:nth-child(1) a:nth-child(5) i:hover+small{
    display: inline-block;
    left: 40px;
    width: 130px;
    padding: 10px;
    border-radius: 10px ;
}

.right_fixed span:nth-child(1) a:nth-child(2) i{
    background-image: url(../img/d_18.png);
}
.right_fixed span:nth-child(1) a:nth-child(3) i{
    background-image: url(../img/d_13.png);
}
.right_fixed span:nth-child(1) a:nth-child(4) i{
    background-image: url(../img/d_12.png);
}
.right_fixed span:nth-child(1) a:nth-child(5) i{
    background-image: url(../img/d_15.png);
}
.right_fixed span:nth-child(2) a:nth-child(1) i{
    background-image: url(../img/d_16.png);
}
.right_fixed span:nth-child(2) a:nth-child(2) i{
    background-image: url(../img/d_19.png);
}

.right_fixed span:nth-child(2){
    float: right;
    height: 90px;
    margin-top: 20px;
}
