.whitetop{
    height: 30px;
    width: 100%;
    background-color: #f5f5f5;
}

.white_top{
    margin: 0px auto;
    width: 1200px;
    height: 100%;
    font-size: 13px;
}

.white_top span:nth-child(1){
    float: left;
    height: 100%;
    line-height: 30px;
}

.white_top span:nth-child(1) a img{
    float: left;
    margin-right: 5px;
    margin-top: 6px;
}

.white_top span a{
    font-size: 15px;
    color: #686464;
}

.white_top span:nth-child(1) a{
    display: inline-block;
    padding: 0px 10px;
}

.white_top span:nth-child(1) a:hover{
    color: #e83a17;
    text-decoration: underline;
}

.white_top span:nth-child(1) a:nth-child(2){
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.white_top span:nth-child(1) a:nth-child(3){
    position: relative;
    color: red;
}

.white_top span:nth-child(1) a:nth-child(3):hover{
    text-decoration: underline;
}

.white_top span:nth-child(1) a:nth-child(3)::after{
   content: "注册立赠100元代金券";
   position: absolute;
   top: 2px;
   left: 74px;
   display: inline-block;
   color: red;
   width: 138px;
   height: 16px;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   background-color: yellow;
}

.white_top span:nth-child(1) a:nth-child(3)::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 64px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-right: 5px solid #e83a17;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.white_top span:nth-child(2){
    position: relative;
    float: right;
    height: 100%;
    line-height: 30px;
}

.white_top span:nth-child(2) a{
    display: inline-block;
    padding: 0px 30px;
}

.white_top span:nth-child(2) a:hover{
    color: #ff0000;
}

.white_top span:nth-child(2) a:nth-child(2){
    /* position: relative; */
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-image: url(../img/v1.png);
    background-repeat: no-repeat;
    background-position: 93px 12px;
}

.white_top-span2 ul{
    display: none;
}

.white_top-span2:hover a:nth-child(2)+ul{
    display: block;
    position: absolute;
    top: 29px;
    right: 0px;
    width: 120px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #cccccc;
}

.white_top-span2 ul li{
    width: 100%;
}

.white_top-span2 ul li:hover{
    background-color: #e6dcdc;
}

.white_top-span2 ul li:nth-child(3){
    border-top: 1px solid #cccccc;
}

.white_top-span2 .white_top-span2-ul li a{
    display: inline-block;
    padding: 0px 0px 0px 30px;
}

.white_top-span2-ul li a:hover{
    color: #fd004f;
}


/* 头部导航 */
.maintop{
   width: 100%;
   height: 90px;
   background-color: #000000;
}
.main_top{
    width: 100%;
    height: 90px;
}

.main_top-div1{
    float: left;
    height: 100%;
    width: 90px;
    margin-top: 18px;
    text-align: center;
}

.main_top-div1 i{
    display: inline-block;
    font-size: 14px;
    color: white;
    margin-top: 3px;
}

.main_top .main_top-div2{
    float: right;
    height: 90px;
}

.main_top-div2 span:nth-child(1){
     display: inline-block;
      height: 100%;
      margin-left: 50px;
      display: inline-block;                
}

.main_top-div2 span:nth-child(1) a{
    display: inline-block;
    height: 100%;
    color: #9b9ca3;
    padding: 0px 20px;
    line-height: 90px;
    font-size: 18px;
}

.main_top-div2 .main_top-div2-a2{
    position: relative;
}

.main_top-div2 .main_top-div2-a2 div{
    display: none;
} 

.main_top-div2 .main_top-div2-a2:hover div{
    display: block;
    position: absolute;
    top: 92px;
    left: -545px;
    width: 1180px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 1px solid #cccccc;
    z-index: 1;
}


.main_top-div2-a2 div ul{
   float: left;
   margin-top: 20px;
}

.main_top-div2-a2 div ul:nth-child(1){
    margin: 17px 160px 0px 316px;
}

.main_top-div2-a2 div ul li{
    line-height: 43px;
    font-size: 20px;
    color: #879ca3;
}

.main_top-div2-a2 div ul li:hover{
    color: white;
}

.main_top-div2-a2 img{
    vertical-align: middle;
    margin-right: 8px;
}

.main_top-div2-a2 div span{
    float: left;
    width: 100%;
    margin-top: 20px;
}

.main_top-div2-a2 div span i{
    display: inline-block;
    padding: 5px 25px;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid #0063db;
    border-radius: 8px;
    color: #0063db;
    margin-left: 500px;
}

.main_top-div2 span:nth-child(1) a:hover{
    color: white;
}

.main_top-div2 span:nth-child(2){
    float: right;
    width: 250px;
    height: 35px;
    margin-top: 20px;
    border-bottom: 1px solid #999999;
}

.main_top-div2 span:nth-child(2) input{
    width:215px;
    border: none;
    height: 20px;
    font-size: 13px;
    color: #999999;
    margin-top: 10px;
    background-color: #000000;
}

.main_top-div2 span:nth-child(2) img{
   margin-bottom: 3px;
   vertical-align: middle;
}

/* 中心 */
.mainmild{
    height: 1000px;
    width: 100%;
    background-color: #f8f8f8;
    background-image: url(../img/buy_banner.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.main_mild{
    height: 1000px;
    width: 100%;
}

.main_mild .main_mild_div1{
    width: 100%;
}

.main_mild .main_mild_div1 span{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: white;
}

.main_mild .main_mild_div1 span:nth-child(2){
    font-size: 18px;
    color: yellow;
}

.main_mild .main_mild_div2{
    width: 100%;
}

.main_mild .main_mild_div2 .main_mild_div2-div1{
    float: left;
    width: 100%;
    height: 65px;
    line-height: 65px; 
    font-size: 0px;
}

.main_mild_div2 .main_mild_div2-div1 a{
     display: inline-block;
     height: 100%;
     font-size: 18px;
     color: white;
     padding: 0px 30px;
     border-bottom: 3px solid white;
}

.main_mild_div2 .main_mild_div2-div1 a:hover{
    color: #187afa;
    border-bottom: 3px solid #187afa;
}

.main_mild_div2 .main_mild_div2-div1 a:nth-child(1){
    display: inline-block;
    margin-left: 338px;
}


.main_mild_div2 div:nth-last-child(-n+3){
    position: relative;
    top: 0px;
    float: left;
    height: 500px;
    width: 371px;
    margin-top: 30px;
    padding: 40px 0px 0px 20px;
    background-color: #ffffff;
}

.main_mild_div2 div:nth-last-child(-n+3):hover{
    position: relative;
    top: -30px;
    float: left;
    height: 560px;
    width: 371px;
    transition: all 0.6s;
    border-top: 5px solid blue;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 5px #c2bdbd;
}

.main_mild_div2 .main_mild_div2-div2,
.main_mild_div2 .main_mild_div2-div4{
    background-image: url(../img/1212.png);
    background-repeat: no-repeat;
    background-position: 340px 0;
    background-size: 13%;
}

.main_mild_div2 div:nth-last-child(-n+3) span{
    float: left;
    width: 100%;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(1){
    display: inline-block;
    line-height: 35px;
    font-size: 22px;
    color: #333333;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(2){
    display: inline-block;
    line-height: 25px;
    font-size: 13px;
    color: #333333;
    margin-top: 15px;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(2) small a{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    color: white;
    margin-left: 5px;
    font-size: 14px;
    background-color: #ffcc00;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(2) small a:hover{
    text-decoration: underline;
    color: red;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(3){
    display: inline-block;
    height: 120px;
    margin-top: 15px;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(3) img{
    float: left;
    height: 118px;
    width: 100px;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(3) small{
    float: left;
    width: 180px;
    height: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

.main_mild_div2 div:nth-last-child(-n+3) small b{
    font-size: 32px;
    color: red;
    font-weight: normal;
}

.main_mild_div2 div:nth-last-child(-n+3) small i{
    font-size: 13px;
    color: red;
    text-decoration: line-through;
}

.main_mild_div2 .main_mild_div2-div3 span:nth-child(3) small i{
    color: #333333;
}

.main_mild_div2 .main_mild_div2-div4 span:nth-child(3) small b{
    color: #333333;
    font-size: 28px;
    font-weight: 500;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(3) small a{
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 11px 46px;
    margin-top: 10px;
    background-color: #e94518;
}
 
.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(4){
    display: inline-block;
    margin-top: 10px;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(4) li{
    line-height: 25px;
    font-size: 15px;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(5){
    display: inline-block;
    line-height: 23px;
    font-size: 15px;
    color: #ff0000;
    margin-top: 15px;
} 

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(5) small{
    display: inline-block;
    line-height: 23px;
    color: white;
    margin-right: 5px;
    padding: 0px 5px;
    background-color: #08d100;
}


.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(6){
    display: inline-block;
    line-height: 23px;
    font-size: 15px;
    color: #333333;
    margin-top: 5px;
} 

.main_mild_div2  .main_mild_div2-div3 span:nth-child(7){
    display: inline-block;
    font-size: 15px;
    color: #333333;
    margin-top: 5px;
}

.main_mild_div2  .main_mild_div2-div3 span:nth-child(7) ul li{
    line-height: 23px;
    font-size: 15px;
    color: #333333;
    padding-left: 20px;
}

.main_mild_div2 div:nth-last-child(-n+3) span:nth-child(6) small{
    display: inline-block;
    line-height: 23px;
    color: white;
    margin-right: 5px;
    padding: 0px 5px;
    background-color: #ff0000;
}

.main_mild_div2 .main_mild_div2-div4 span:nth-child(6){
    display: inline-block;
    line-height: 23px;
    font-size: 15px;
    margin-top: 0px;
}

.main_mild_div2 .main_mild_div2-div4 span:nth-child(6) li{
    display: inline-block;
    line-height: 23px;
    font-size: 15px;
    color: #333333;
    margin-top: 0px;
    padding-left: 20px;
}

.main_mild_div2 .main_mild_div2-div4 span:nth-child(6) li,
.main_mild_div2  .main_mild_div2-div3 span:nth-child(7) li{
    background-image: url(../img/testGou.png);
    background-repeat: no-repeat;
    background-position: 0px 7px;
}


/* vegas板块 */
.main_veges{
    height: 80px;
    width: 100%;
}

.main_veges span{
    display: inline-block;
    font-size: 16px;
    color: #333333;
    line-height: 50px;
}

.main_veges span a{
    color: #0080ff;
}

.main_veges span a:hover{
    text-decoration: underline;
}

/* 底部搜索栏 */
.bottomsearch{
    width: 100%;
    height: 310px;
    background-color: #27343d;
}

.bottom_search{
    width: 100%;
    height: 310px;
}

.bottom_search .bottom_search_span1{
    float: left;
}

.bottom_search .bottom_search_span1 ul{
    float: left;
    margin-right: 111px;
    margin-top: 30px;
}

.bottom_search_span1 ul li a{
    line-height: 32px;
    font-size: 14px;
    color: #999999;
}

.bottom_search_span1 ul li a:hover{
    color: white;
    text-decoration: underline;
}

.bottom_search_span1 ul li:nth-child(1) a{
    line-height: 70px;
    font-size: 22px;
    text-align: left;
    color: #999999;
}

.bottom_search_span1 ul li:nth-child(1) a{
    text-decoration: none;
}

.bottom_search .bottom_search_span2{
    position: relative;
    float: right;
    text-align: center;
    font-size: 30px;
    width: 155px;
    color: #999999;
    margin-top: 49px;
}

.bottom_search .bottom_search_span2 img{
    width: 100px;
    margin-top: 5px;
    vertical-align: middle;
}

.bottom_search .bottom_search_span2:hover{
    position: relative;
    top: -3px;
    left: 0px;
    color: yellow;
    transition: all 2s;
    box-shadow: 0px 0px 10px 7px #cccccc;
}

.bottom_search .bottom_search_span2:hover img{
    width: 155px;
    transition: all 2s;
}

/* 底部 */
.bottom_no{
    width: 100%;
    height: 250px;
}

 .bottom_no-div1{
     width: 100%;
     border-bottom: 1px solid #cccccc;
 }

 .bottom_no-div1 span{
     display: inline-block;
     line-height: 70px;
     color: #000000;
     font-size: 18px;
     font-weight: bold;
     padding: 0px 95px;
 }

 .bottom_no-div1 span img{
     vertical-align: middle;
     margin-right: 10px;
     margin-bottom: 5px;
 }

 .bottom_no-div2{
     width: 100%;
     margin-top: 20px;
 }

 .bottom_no-div2 span{
     display: inline-block;
     width: 100%;
     line-height: 30px;
     text-align: center;
     color: #666666;
     font-size: 14px;
 }

 .bottom_no-div2 span a:hover{
     text-decoration: underline;
     color: red;
 }

 .bottom_no-div2 span img{
    width: 20px;
    height: 30px; 
    vertical-align: middle;
    margin-right: 5px;
 }


/* 右边固定栏 */
.right_fixed{
    position: fixed;
    float: right;
    top: 245px;
    right: 0px;
    height: 320px;
    width: 45px;
}

.right_fixed span:nth-child(1){
    float: right;
    height: 225px;
}

.right_fixed span a{
    float: right;
    height: 45px;
    width: 250px;
}
.right_fixed span a i{
    float: right;
    width: 45px;
    height: 45px;
    background-color: #333333;
    background-repeat: no-repeat;
}

.right_fixed span:nth-child(1) a:nth-child(1) i{
    position: relative;
    background-image: url(../img/d_7.png);
}

.right_fixed span i:hover {
    background-color: #e83a17;
}

.right_fixed span a b{
     display: none;   
}

.right_fixed span a i:hover+b{
    display: block;
    float: right;
    height: 45px;
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    line-height: 45px;
    padding: 0px 13px;
    border-radius: 7px 0px 0px 7px;
    background-color: #e83a17;
}

.right_fixed span:nth-child(1) a:nth-child(4),
.right_fixed span:nth-child(1) a:nth-child(5){
    position: relative;
}

.right_fixed span:nth-child(1) a:nth-child(4) small,
.right_fixed span:nth-child(1) a:nth-child(5) small{
    display: none;
}

.right_fixed span:nth-child(1) a:nth-child(4) i:hover+small,
.right_fixed span:nth-child(1) a:nth-child(5) i:hover+small{
    position: absolute;
    display: block;
    top: 0px;
    left: -100px;
    width: 250px;
    background-color: #e83a17;
    line-height: 25px;
    font-size: 15px;
    color: white;
    padding: 0px 10px;
    text-align: center;
    border-radius: 6px;
}

.right_fixed span:nth-child(1) a:nth-child(5) img{
    width: 106px;
}

.right_fixed span:nth-child(1) a:nth-child(5) i:hover+small{
    display: inline-block;
    left: 40px;
    width: 130px;
    padding: 10px;
    border-radius: 10px ;
}

.right_fixed span:nth-child(1) a:nth-child(2) i{
    background-image: url(../img/d_18.png);
}
.right_fixed span:nth-child(1) a:nth-child(3) i{
    background-image: url(../img/d_13.png);
}
.right_fixed span:nth-child(1) a:nth-child(4) i{
    background-image: url(../img/d_12.png);
}
.right_fixed span:nth-child(1) a:nth-child(5) i{
    background-image: url(../img/d_15.png);
}
.right_fixed span:nth-child(2) a:nth-child(1) i{
    background-image: url(../img/d_16.png);
}
.right_fixed span:nth-child(2) a:nth-child(2) i{
    background-image: url(../img/d_19.png);
}

.right_fixed span:nth-child(2){
    float: right;
    height: 90px;
    margin-top: 20px;
}
